html, body { 
  height: 100%; 
}

body { 
  margin: 0; 
  font-family: "Trebuchet MS", Roboto, "Helvetica Neue", sans-serif; 
  background-color: #f5f0fe; 
}

.blue-snackbar {
  background: #2196F3;
}