<h1>Home</h1>
<mat-toolbar *ngIf="error" color="warn">
    <span>{{error | json}}</span>
</mat-toolbar>

<mat-progress-bar *ngIf="sensors.length === 0" mode="query"></mat-progress-bar>

<div class="all-items">
    <div *ngFor="let sensor of sensors; let i = index">
        <mat-card>
            <mat-card-title>
                <mat-icon class="item-icon" color="accent" aria-hidden="false" aria-label="circle check mark icon">
                    cloud</mat-icon>
                {{ sensor.content }}
            </mat-card-title>
            <div class="detail-options">
                <mat-icon class="item-icon icon-clickable" title="Refresh" color="warn" (click)="onRefresh(i)">refresh</mat-icon>
            </div>
            <mat-card-content>
                <p>
                    <span class="detail-label">Sensor:</span> {{ sensor.sensor }}
                </p>
                <p>Last Updated: {{sensor.lastUpdated | amTimeAgo}}</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>
