<mat-toolbar color="primary" class="expanded-toolbar">
  <span>
    <button class="brand-icon" mat-button routerLink="/">{{title}}</button>
    <button class="home-icon" mat-button routerLink="/"><mat-icon>home</mat-icon></button>
  </span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button routerLink="/login" *ngIf="!isLoggedIn()">
      <mat-icon>power_settings_new</mat-icon>
      Login
    </button>
    <button mat-button *ngIf="isLoggedIn()" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      Logout
    </button>
    <button mat-menu-item *ngIf="isAdmin()" routerLink="/manage-auth">
      <mat-icon>people</mat-icon>
      Manage Auth
    </button>
    <button mat-button routerLink="/operations">
      <mat-icon>gamepad</mat-icon>
      Operations
    </button>
  </div>
  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item routerLink="/">
    <mat-icon>home</mat-icon>
    Home
  </button>
  <button mat-menu-item *ngIf="isAdmin()" routerLink="/manage-auth">
    <mat-icon>people</mat-icon>
    Manage Auth
  </button>
  <button mat-menu-item routerLink="/operations">
    <mat-icon>gamepad</mat-icon>
    Operations
  </button>
  <button mat-menu-item routerLink="/login" *ngIf="!isLoggedIn()">
    <mat-icon>power_settings_new</mat-icon>
    Login
  </button>
  <button mat-menu-item *ngIf="isLoggedIn()" (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    Logout
  </button>
</mat-menu>

<router-outlet></router-outlet>
