<h1>Manage Users</h1>

<mat-toolbar *ngIf="error" color="warn">
    <span>{{error | json}}</span>
</mat-toolbar>

<mat-progress-bar *ngIf="users.length === 0" mode="query"></mat-progress-bar>

<div class="all-items">
    <div *ngFor="let user of users;">
        <mat-card>
            <mat-card-title>
                <mat-icon class="item-icon" color="accent" aria-hidden="false" aria-label="circle check mark icon">
                    person</mat-icon>
                {{ user.firstName }} {{ user.lastName }}
            </mat-card-title>
            <div class="detail-options">
                <mat-icon class="item-icon icon-clickable" title="Delete user" color="warn" (click)="onDelete(user.id)">delete</mat-icon>
            </div>
            <mat-card-content>
                
                <p>
                    <span class="detail-label">Email:</span> {{user.email}}
                </p>
                <mat-slide-toggle
                    [checked]="user.active"
                    [color]="accent"
                    (change)="setActive(user, $event)"
                    [disabled]="disabled">
                    {{user.active ? 'Active': 'Inactive'}}
                </mat-slide-toggle>
                <p>Role: {{user.role}}</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>